.body {
  position: fixed;
  background-color: rgb(148, 151, 248);
  /* border: 3px rgb(114, 63, 255) solid; */
  box-shadow: 5px 5px 5px rgb(111, 114, 202);
  width: 20%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  margin-right: 0;
  z-index: 50;
}

.basicInfo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.avatar {
  position: absolute;
  width: 50%;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
} 
