.header {
  position: absolute;
  color: white;
  background-color:#211550;
  padding: 2vh 0 2vh 0;
  font-size: 20px;
  text-align: center;
  width: 100%; 
  margin: 0;
  top: 0;
  left: 0;
  z-index: 10000;
}
 